.recipe-display-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
  }
  
  .recipe-display-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    /* padding: 30px 40px; */
  }
  
  .recipe-display-name {
    width: 90%;
    margin-bottom: 30px;
    color: #B31312;
    height: 50px;
    border-bottom: 1px solid #B31312;
  } 
  .section-img{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;    
  }
  .section-img img{
    width: 35%;
  }
  .section-img p{
    color: #B31312;
    font-size: 20px;
    font-weight: bold;
    width: 55%;
  }
  .section-body {
    margin: 30px 20px;
    text-align: justify;
    border-top: 1px solid #EEE2DE;
    border-bottom: 1px solid #EEE2DE;
  }
  .section-body p{
    margin: 20px 0;
    color: #B31312;
    font-size: 16px;
  }
  .img-recipe-display{
    width: 400px;
    height: auto;

  }
  .btn-back {
    margin-bottom: 20px;
    width: 40%;
    text-decoration: none;
    border: 1px solid #EA906C;
    padding: 10px;
    border-radius: 5px;
    color: #000;
  }
  
  .btn-back:hover {
    cursor: pointer;
    background-color: rgb(37, 37, 37);
    color: #fff;
  }
  